In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [2]:
data = pd.read_csv("Churn_Modelling.csv")

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
data=data.drop(["RowNumber","CustomerId","Surname"],axis=1)

In [6]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
label = LabelEncoder()
data["Gender"]= label.fit_transform(data["Gender"])

In [9]:
data.tail()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [10]:
from sklearn.preprocessing import OneHotEncoder
oneHot = OneHotEncoder(sparse_output=False)
geo_data = oneHot.fit_transform(data[["Geography"]])

In [11]:
oneHot.get_feature_names_out(["Geography"])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [13]:
geo_encoded_df=pd.DataFrame(geo_data,columns=oneHot.get_feature_names_out(["Geography"]))

In [14]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [15]:
data = data.drop('Geography',axis =1)

In [16]:
input_data = pd.concat([data,geo_encoded_df],axis=1)

In [17]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [18]:
x= input_data.drop("EstimatedSalary",axis =1)
y = input_data["EstimatedSalary"]

In [24]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [25]:
scalar = StandardScaler()
X_train = scalar.fit_transform(X_train)
X_test = scalar.transform(X_test)

In [26]:
with open("scalar.pkl" ,"wb") as file:
    pickle.dump(scalar,file)

In [27]:
with open("label_encoder.pkl","wb") as file:
    pickle.dump(label,file)

In [28]:
with open("oneHot.pkl","wb") as file:
    pickle.dump(oneHot,file)

In [29]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [31]:
model = Sequential([
    Dense(64,activation="relu",input_shape=(X_train.shape[1],)),
    Dense(32,activation="relu"),
    Dense(1)
])

In [33]:
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])

In [35]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [37]:
log_dir = "reglogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
TensorBoard_callBack = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [38]:
EarlyStopping_callback = EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [39]:
history = model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[EarlyStopping_callback,TensorBoard_callBack]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 7ms/step - loss: 100377.4609 - mae: 100377.4609 - val_loss: 98516.1953 - val_mae: 98516.1953
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 99612.5781 - mae: 99612.5781 - val_loss: 96985.5391 - val_mae: 96985.5391
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 96924.7969 - mae: 96924.7969 - val_loss: 93074.5938 - val_mae: 93074.5938
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 91651.8203 - mae: 91651.8203 - val_loss: 86569.1094 - val_mae: 86569.1094
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 83974.3672 - mae: 83974.3672 - val_loss: 78179.3906 - val_mae: 78179.3906
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 74938.9141 - mae: 74938.9141 - val_loss: 69390.5547 - val_mae: 69390.5547
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 66237.9531 - mae: 66237.9531 - val_loss: 61758.7695 - val_mae: 61758.7695
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 59179.5859 - mae: 59179.5859 - val_loss: 56179.1992 - val_mae: 56179.1992
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 54484.5273 - mae: 54484.5273 - val_loss: 52804.1289 - val_mae: 52804.1289
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51992.5742 - mae: 51992.5742 - val_loss: 51429.3398 - val_mae: 51429.3398
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50920.4219 - mae: 50920.4219 - val_loss: 50936.7031 - val_mae: 50936.7031
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50515.5664 - mae: 50515.5664 - val_loss: 50758.2422 - val_mae: 50758.2422
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50351.9023 - mae: 50351.9023 - val_loss: 50670.4727 - val_mae: 50670.4727
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50259.7539 - mae: 50259.7539 - val_loss: 50611.2031 - val_mae: 50611.2031
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50198.8242 - mae: 50198.8242 - val_loss: 50569.3164 - val_mae: 50569.3164
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50144.8477 - mae: 50144.8477 - val_loss: 50527.5156 - val_mae: 50527.5156
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50097.7969 - mae: 50097.7969 - val_loss: 50499.7305 - val_mae: 50499.7305
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50056.7344 - mae: 50056.7344 - val_loss: 50474.5547 - val_mae: 50474.5547
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50021.4961 - mae: 50021.4961 - val_loss: 50452.3359 - val_mae: 50452.3359
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49987.7617 - mae: 49987.7617 - val_loss: 50429.6680 - val_mae: 50429.6680
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49962.9062 - mae: 49962.9062 - val_loss: 50411.5078 - val_mae: 50411.5078
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49932.1289 - mae: 49932.1289 - val_loss: 50394.0430 - val_mae: 50394.0430
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49905.0625 - mae: 49905.0625 - val_loss: 50383.1094 - val_mae: 50383.1094
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49880.5430 - mae: 49880.5430 - val_loss: 50367.3203 - val_mae: 50367.3203
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49856.2422 - mae: 49856.2422 - val_loss: 50350.4141 - val_mae: 50350.4141
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49834.7773 - mae: 49834.7773 - val_loss: 50350.6328 - val_mae: 50350.6328
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49814.1914 - mae: 49814.1914 - val_loss: 50334.9883 - val_mae: 50334.9883
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49792.0938 - mae: 49792.0938 - val_loss: 50323.4492 - val_mae: 50323.4492
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49775.4922 - mae: 49775.4922 - val_loss: 50308.9023 - val_mae: 50308.9023
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49757.0625 - mae: 49757.0625 - val_loss: 50307.6719 - val_mae: 50307.6719
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49741.0234 - mae: 49741.0234 - val_loss: 50294.2188 - val_mae: 50294.2188
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49721.3633 - mae: 49721.3633 - val_loss: 50284.3672 - val_mae: 50284.3672
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49705.6914 - mae: 49705.6914 - val_loss: 50291.0039 - val_mae: 50291.0039
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49694.1836 - mae: 49694.1836 - val_loss: 50284.4336 - val_mae: 50284.4336
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49680.8477 - mae: 49680.8477 - val_loss: 50284.3320 - val_mae: 50284.3320
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49662.5273 - mae: 49662.5273 - val_loss: 50276.4844 - val_mae: 50276.4844
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49649.5000 - mae: 49649.5000 - val_loss: 50277.2695 - val_mae: 50277.2695
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49636.1758 - mae: 49636.1758 - val_loss: 50273.4062 - val_mae: 50273.4062
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49625.6523 - mae: 49625.6523 - val_loss: 50269.9961 - val_mae: 50269.9961
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49618.1875 - mae: 49618.1875 - val_loss: 50278.4453 - val_mae: 50278.4453
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - loss: 49603.3867 - mae: 49603.3867 - val_loss: 50283.6445 - val_mae: 50283.6445
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49595.9297 - mae: 49595.9297 - val_loss: 50269.0508 - val_mae: 50269.0508
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49585.7031 - mae: 49585.7031 - val_loss: 50271.8203 - val_mae: 50271.8203
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49575.9102 - mae: 49575.9102 - val_loss: 50275.0234 - val_mae: 50275.0234
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49568.0391 - mae: 49568.0391 - val_loss: 50273.5703 - val_mae: 50273.5703
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 49559.1719 - mae: 49559.1719 - val_loss: 50270.4219 - val_mae: 50270.4219
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49549.8789 - mae: 49549.8789 - val_loss: 50275.4258 - val_mae: 50275.4258
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49541.3477 - mae: 49541.3477 - val_loss: 50282.7695 - val_mae: 50282.7695
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49534.4023 - mae: 49534.4023 - val_loss: 50278.3711 - val_mae: 50278.3711
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49526.1484 - mae: 49526.1484 - val_loss: 50283.1172 - val_mae: 50283.1172
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49519.1328 - mae: 49519.1328 - val_loss: 50277.7734 - val_mae: 50277.7734
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49516.2383 - mae: 49516.2383 - val_loss: 50280.4023 - val_mae: 50280.4023

In [41]:
%load_ext tensorboard
%tensorboard --logdir reglogs/fit

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6011 (pid 23364), started 0:00:23 ago. (Use '!kill 23364' to kill it.)

In [42]:
loss, mae = model.evaluate(X_test, y_test)
print("Loss:", loss)
print("MAE:", mae)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 50269.0508 - mae: 50269.0508
Loss: 50269.05078125
MAE: 50269.05078125

In [43]:
model.save("reg_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.